body {
  font-family: cursive;
}

.navbar {
  background-color: lightgray;
  min-height: 60px;
}

.navbar-brand {
  font-size: 28px;
  color: black !important;
}

ul {
  background-color: white;
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
}

button {
  background-color: rgb(180, 180, 180) !important;
}

.col-xs-12 {
  background-color: gray !important;
  padding: 0px 20px 20px;
  height: 2000px;
}