body {
  font-family: cursive;
}

.navbar {
  background-color: lightgray;
  min-height: 60px;
}

.navbar-brand {
  font-size: 28px;
  color: black !important;
}

li {
  display: block !important;
}

button {
  background-color: rgb(180, 180, 180) !important;
}
