body {
  font-family: cursive !important;
}

.navbar {
  background-color: lightgray !important;
  min-height: 60px !important;
}

.navbar-brand {
  font-size: 28px !important;
  color: black !important;
}

ul {
  background-color: white !important;
}

li {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  border: 1px solid black !important;
}

button {
  background-color: rgb(180, 180, 180) !important;
}

.col-xs-12 {
  background-color: gray !important;
  padding: 0px 20px 20px !important;
  height: 2000px !important;
}